---
- include_tasks: python.yml
  when: bootstrap_python

- name: Bootstrap | Gather facts
  setup:

- include_tasks: path.yml

- include_tasks: kernel.yml

- include_tasks: docker.yml

- include_tasks: requirements.yml

- include_tasks: swap.yml
  when: ansible_distribution != "Flatcar"
