---
name: 'symplegma-os_bootstrap'

'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linter:
    name: "symplegma-os_bootstrap:linter"
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: |
          pip3 install ansible yamllint ansible-lint

      - name: Lint code.
        run: |
          yamllint .
          ansible-lint

  release:
    if: github.ref == 'refs/heads/main'
    name: 'symplegma-os_bootstrap:release'
    runs-on: ubuntu-latest
    needs:
      - linter
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          branches: |
            [
              'main'
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
